<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Palabra encontrada</title>

      <table>
         <thead>
            <tr>
               <th>Palabra</th>
               <th>Significado</th>

            </tr>
         </thead>

         <tbody>
            {% for palabra in diccionario %}
               <tr>
                  <td>{{ palabra.palabra }}</td>
                  <td>{{ palabra.significado }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </head>
</html>